* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #ebecf0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  /* font-size: 1.1em; */
}

.form-main {
  width: 30vw;
  margin-left: 30%;
}

/* body,
p,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 1.2em;
} */

/* div,
p {
  color: #9a9da8 !important;
  text-shadow: 1px 1px 1px #fff !important;
} */

label {
  display: block;
  margin-top: 4vh;
  /* margin-bottom: -1vh; */
  width: 100%;
}

.section__intro {
  font-size: 1.5em;
  /* margin-top: 2vh; */
  margin-bottom: -1.5vh;
}

/* Hide the images by default */
.form-slide {
  display: none;
}

.next,
.submission {
  margin-bottom: 10px;
}
/* On hover, add a black background color with a little bit see-through */
.next:hover,
.submission:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.error_message {
  color: rgb(87, 2, 2);
}
