.logo {
  cursor: pointer;
  display: inline-block;
  max-height: 15vh;
  max-width: 15vh;
}
.logo > img {
  border-radius: 50%;
}

.navLinks {
  display: flex;
  list-style: none;

  margin: 2px;
}
.navLinks li {
  padding-left: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.navLinks li:hover {
  transform: scale(1.1);
}
