/* Slideshow container */
.pic-slideshow-container {
  max-width: 100vw;
  max-height: 90vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.picSlides {
  display: block;
}

/* .picSlides {
  width: 100vw;
  height: 100vh;
  /* border: 10px solid red; 
 }  */

img {
  width: 100%;
  height: 100%;
}
